<ion-header [translucent]="true">
  <ion-progress-bar type="indeterminate" *ngIf="submissionInProgress"></ion-progress-bar>

  <ion-toolbar>
     
    <ion-title color="primary" *ngIf="!informForm.controls.report_type.value">
      Reporting a suspected person       
      <ion-icon name="megaphone-outline" size="large" class="ion-float-end"></ion-icon>
    </ion-title>
    <ion-title color="danger" *ngIf="informForm.controls.report_type.value">
      Reporting domestic violance      
      <ion-icon name="megaphone-outline" size="large" class="ion-float-end"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary" *ngIf="!informForm.controls.report_type.value">
        Reporting suspected person 
        <ion-icon name="megaphone-outline" size="large" class="ion-float-end"></ion-icon>
      </ion-title>
      <ion-title size="large" color="danger" *ngIf="informForm.controls.report_type.value">
        Reporting domestic violance 
        <ion-icon name="megaphone-outline" size="large" class="ion-float-end"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="informForm" novalidate autocomplete="off">
  <ion-list>
    <ion-item *ngIf="errorMessage !== ''"><ion-text color="danger">{{errorMessage}}</ion-text></ion-item>
    <ion-item *ngIf="successMessage !== ''"><ion-text color="success">{{successMessage}}</ion-text></ion-item>

    <ion-item>
      <ion-icon name="bug-outline"></ion-icon> &nbsp;&nbsp;
      <ion-label *ngIf="!informForm.controls.report_type.value">Toggle to report domestic violance </ion-label>
      <ion-label *ngIf="informForm.controls.report_type.value">Toggle to report suspected person </ion-label>
      <ion-toggle color="danger" formControlName="report_type"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="person-outline"></ion-icon> &nbsp;&nbsp;
      <ion-label>Person Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text"  formControlName="person_name"></ion-input>      
    </ion-item>
    <ion-item *ngIf="submitted && informForm.controls.person_name.invalid">
      <ion-text color="danger" *ngIf="informForm.controls.person_name.hasError('required')">Person name is required</ion-text>        
    </ion-item>

    <ion-item>
      <ion-icon name="home-outline"></ion-icon>  &nbsp;&nbsp;
      <ion-label floating>Person Address <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  type="text" formControlName="person_address"></ion-input>     
    </ion-item>
    <ion-item *ngIf="submitted && informForm.controls.person_address.invalid">
      <ion-text color="danger" *ngIf="informForm.controls.person_address.hasError('required')">Person address is required</ion-text>        
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline"></ion-icon>  &nbsp;&nbsp;
      <ion-label floating>Your phone number <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  type="text" formControlName="reporter_phone"></ion-input>      
    </ion-item>
    <ion-item *ngIf="submitted && informForm.controls.reporter_phone.invalid">
      <ion-text color="danger" *ngIf="informForm.controls.reporter_phone.hasError('required')">Your phone number is required</ion-text>        
      <ion-text color="danger" *ngIf="informForm.controls.reporter_phone.hasError('pattern')">Provide your 10 or 11 digit mobile or landline number</ion-text>        
    </ion-item>
  </ion-list>


  <ion-row>
    <ion-col width-100 style="text-align: center">
      <ion-button shape="round" color="{{!informForm.controls.report_type.value? 'primary' : 'danger'}}" [disabled]="submissionInProgress" (click)="inform()">
        <ng-container *ngIf="!submissionInProgress">Submit</ng-container>
        <ng-container *ngIf="submissionInProgress">Submitting</ng-container>
      </ion-button>
    </ion-col>
  </ion-row>
</form>

</ion-content>
